[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#editor, #creator {
  padding: 15px;
  margin-bottom: 15px;
}

.sidebar-header {
  padding-bottom: 15px;
  margin-left: 15px;
}

li a {
  color: black;
}
