<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="./css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">


  <title>Event Manager</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

</head>
<body ng-app="EventManager" ng-controller="mainCtrl">
  <div class="container">
    <div class="row">
      <div class="col s9">
        <table class="bordered">
          <thead>
            <tr>
              <th>Event Name</th>
              <th>Date</th>
              <th>Venue</th>
              <th>City</th>
              <th>State</th>
              <th>Action</th>
            </tr>
          </thead>
            <tbody ng-repeat="event in eventArr" repeat-done="initModals()">
            <tr>
              <td class="">{{ event.name }}</td>
              <td>{{ event.date }}</td>
              <td>{{ event.venue.name }}</td>
              <td>{{ event.venue.city }}</td>
              <td>{{ event.venue.state }}</td>
              <td><a href="#!" ng-click="removeEvent(event.id)">Remove</a>/  <a ng-click="openEditor(event)">Edit</a></td>
            </tr>
            </tbody>
        </table>

      </div>
      <div class="col s3 sidebar brown lighten-1">
        <div class="sidebar-header">
          <h3>Event Manager</h3>
          <a href="#!" class="waves-effect waves-green btn" ng-click="openCreator()">Add Event</a>
        </div>

        <div id="citySelector">
          <ul>
            <li ng-repeat="city in cities">
              <a href="#!" ng-click="onlyCity(city[0])"> {{ city[0] }} ({{ city[1] }})</a>
            </li>
          </ul>
        </div>

        <div id="editor" class="brown lighten-3" ng-cloak ng-show="showEditor">
          <h5>Edit Event</h5>
            <div class="row">
              <div>
                <p><strong>What</strong></p>
                <input placeholder="Event Name" id="nameInput" type="text">
              </div>
              <div>
                <input placeholder="Date" id="dateInput" type="text">
              </div>
            </div>
            <div class="row">
              <div>
                <p><strong>Where</strong></p>
                <input placeholder="Venue" id="venueInput" type="text">
              </div>
              <div class="col s8">
                <input placeholder="City" id="cityInput" type="text">
              </div>
                <div class="col s4">
              <input placeholder="State" id="stateInput" type="text">
            </div>
              <a href="#!" class="waves-effect waves-green btn-flat" ng-click="cancel('Editor')">Cancel</a>
              <a href="#!" class="waves-effect waves-green btn" ng-click="updateEvent()">Save</a>
            </div>
          </div>
            <div id="creator" class="brown lighten-3" ng-cloak ng-show="showCreator">
              <h5>Create Event</h5>
                <div class="row">
                  <div>
                    <p><strong>What</strong></p>
                    <input placeholder="Event Name" id="newNameInput" type="text">
                  </div>
                  <div>
                    <input placeholder="Date" id="newDateInput" type="text">
                  </div>
                </div>
                <div class="row">
                  <div>
                    <p><strong>Where</strong></p>
                    <input placeholder="Venue" id="newVenueInput" type="text">
                  </div>
                  <div class="col s8">
                    <input placeholder="City" id="newCityInput" type="text">
                  </div>
                    <div class="col s4">
                  <input placeholder="State" id="newStateInput" type="text">
                </div>
                  <a href="#!" class="waves-effect waves-green btn-flat" ng-click="cancel('Creator')">Cancel</a>
                  <a href="#!" class="waves-effect waves-green btn" ng-click="createEvent()">Save</a>
                </div>
              </div>
          
        </div>
      </div>

    </div>
  </div>


  <script type="text/javascript" src="./js/vividSeats.js"></script>
  <script type="text/javascript" src="./js/scripts.js"></script>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>



</body>
</html>